<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umc.history">

    <!-- Get Access to Gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".HiStoryApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/history_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/history_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiStory"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        
        <activity android:name=".ProfileEditorActivity" />
        <activity android:name=".SettingLogoutActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao072dc56b8e4fc5dc680c3e6bd92d52b9"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>